.about
	padding: 120px 0 115px
	position: relative
	+r(1189)
		padding: 60px 0
	.title
		+r(767)
			br
				display: none
	&-subtitle
		text-align: center
		color: #666666
		font-family: "Open Sans"
		font-size: 28px
		font-weight: 400
		line-height: 1
		margin-top: 21px
		+r(1189)
			margin-top: 10px
			font-size: 26px
		+r(1023)
			font-size: 24px
			margin-top: 5px
	&-content
		counter-reset: about-counter
		display: flex
		margin-top: 100px
		justify-content: space-between
		+r(1189)
			margin-top: 80px
		+r(1023)
			flex-wrap: wrap
			margin-top: 55px
		+r(639)
			margin-top: 10px
	&-box
		display: flex
		width: calc(100% / 3 - 19px)
		+r(1189)
			width: calc(100% / 3 - 10px)
		+r(1023)
			flex-direction: column
		+r(767)
			width: calc(100% / 3 - 5px)
		+r(639)
			margin-top: 50px !important
			width: 100%
			flex-direction: row
			align-items: center
		+r(400)
			flex-direction: column
		&:nth-child(1)
			margin-top: 100px
			+r(1189)
				margin-top: 60px
				+r(1023)
					margin-top: 0
		&:nth-child(2)
			margin-top: 50px
			+r(1189)
				margin-top: 30px
				+r(1023)
					margin-top: 0
		&__img
			flex-shrink: 0
			position: relative
			z-index: 0
			+r(1023)
				display: flex
				margin-right: auto
				margin-left: auto
			&:before
				counter-increment: about-counter
				content: counter(about-counter)
				color: #efe8de
				font-family: "Yeseva One"
				font-size: 160px
				font-weight: 400
				line-height: 1
				position: absolute
				top: -80px
				left: 50%
				transform: translateX(-50%)
				z-index: -1
				+r(1023)
					font-size: 100px
					top: -50px
			+r(1189)
				width: 150px
			+r(400)
				width: 120px
			+r(1023)
				img
					height: 316px
					+r(400)
						height: auto
		&__capsule
			position: relative
			+r(1023)
				margin-right: auto
				margin-left: auto
			+r(639)
				margin-left: 0
			+r(400)
				margin-left: auto
		&__title
			margin-top: 18px
			color: #000000
			font-family: "Yeseva One"
			font-size: 27px
			font-weight: 400
			line-height: 30px
			+r(1189)
				font-size: 25px
				line-height: normal
			+r(1023)
				margin-top: 10px
				text-align: center
				font-size: 23px
				br
					display: none
			+r(767)
				font-size: 21px
			+r(639)
				text-align: left
				font-size: 23px
			+r(400)
				text-align: center
		&__text
			color: #666666
			font-family: "Open Sans"
			font-size: 20px
			font-weight: 400
			line-height: 34px
			+r(1189)
				font-size: 18px
				line-height: normal
			+r(1023)
				text-align: center
			+r(767)
				font-size: 17px
			+r(639)
				text-align: left
				font-size: 18px
			+r(400)
				text-align: center
		&-left
			margin-left: 30px
			+r(1189)
				margin-left: 15px
			+r(1023)
				margin-left: 0
				margin-top: 15px
			+r(639)
				margin-left: 10px
				margin-top: 0
			+r(400)
				margin-left: 0
				margin-top: 15px


.last-title
	margin-top: 0