<section class="about block">
	<div class="container">
		<h2 class="title">Biorecin - <br>	
				это профессиональный крем<br>
				для полноценного омоложения кожи</h2>
				<div class="about-subtitle">Как это работает?</div>
				<div class="about-content">
					<div class="about-box">
						<div class="about-box__img"><img src="img/about-1.jpg" alt="about"></div>
						<div class="about-box-left">
								<div class="about-box__capsule capsule-day"><img src="img/capsule-1.png" alt="capsule"></div>
								<h4 class="about-box__title">Днём:</h4>
								<p class="about-box__text">Содержимое золотой капсулы защищает кожу
										от внешних факторов. Кожа получает необходимое увлажнение, становится более упругой.
										</p>
						</div>
					</div>
					<div class="about-box">
							<div class="about-box__img"><img src="img/about-2.jpg" alt="about"></div>
							<div class="about-box-left">
									<div class="about-box__capsule capsule-night"><img src="img/capsule-2.png" alt="capsule"></div>
									<h4 class="about-box__title">Ночью:</h4>
									<p class="about-box__text">Содержимое синей капсулы обновляет клетки кожи, пробуждаются так называемые "спящие клетки", стимулируя синтез коллагена.</p>
							</div>
						</div>
						<div class="about-box">
								<div class="about-box__img "><img src="img/about-3.jpg" alt="about"></div>
								<div class="about-box-left">
										<h4 class="about-box__title last-title">По<br>
												окончанию<br>
												курса: </h4>
										<p class="about-box__text">Кожный покров полностью регенерируется - ваше лицо сияет и выглядит моложе.</p>
								</div>
							</div>
				</div>
	</div>
</section>