<section class="use block" id="use">
		<div data-offset="10" class="u-parallax-back parallax"></div>
	<div class="container">
		<h2 class="title">Как применять<br>
			Biorecin</h2>
			<div class="use-content">
				<div class="use-content__capsule">
					<div class="capsule-day"><img src="img/capsule-1.png" alt="capsule"></div>
					<div class="capsule-night"><img src="img/capsule-2.png" alt="capsule"></div>
				</div>
				<div class="use-left">
					<h4 class="use-content__title">Способ применения</h4>
					<div class="use-left-col">
					<div class="use-left-box">
						<div class="use-left__number">1.</div>
						<div class="use-left__text">Разрежьте капсулу<br>
							и нанесите содержимое 
							<span class="text-nowrap">на очищенное</span> лицо 
							</div>
					</div>
					<div class="use-left-box">
						<div class="use-left__number">2.</div>
						<div class="use-left__text">Применяйте<br>
							золотую капсулу - утром,
							<span class="text-nowrap">а синюю</span> - перед сном
							</div>
					</div>
					<div class="use-left-box">
						<div class="use-left__number">3.</div>
						<div class="use-left__text before-none">Рекомендуемый курс - <br>	
							<span class="text-nowrap">от 60</span> дней (для устойчивого результата)							
							</div>
					</div>
				</div>
				</div>
				<div class="use-right">
					<h4 class="use-content__title">Действие</h4>
					<div class="use-right-box">
						<div class="use-right-col">
							<div class="use-right__circle first-circle"><span class="circle-one"><span class="internal-circle"><span class="hour">24</span><span class="time">часа</span></span></span></div>
							<div class="use-right__text top-arr">Здоровое сияние,<br>
									повышает<br>
									содержание<br>
									влаги в коже</div>
						</div>
						<div class="use-right-col">
								<div class="use-right__text bottom-arr order-2">Кожа увлажненная,<br>
										возобновляется запас<br>
										коллагеновых волокон<br>
										в эпидермисе</div>
										<div class="use-right__circle second-circle order-1"><span class="circle-one"><span class="internal-circle"><span class="hour">72</span><span class="time">часа</span></span></span></div>
										<div class="use-right__circle third-circle order-3"><span class="circle-one"><span class="internal-circle"><span class="hour">48</span><span class="time">часа</span></span></span></div>
										<div class="use-right__text top-arr order-4 text-3">Клетки<br>
												регенерируют,<br>
												запускается<br>
												долговременный<br>
												процесс устранения<br>
												морщин</div>
							</div>
							<div class="use-right-col">
									<div class="use-right__text bottom-arr order-2 mar0">Цикл омоложения<br>
											повторяется,<br>
											но уже с молодыми<br>
											клетками кожи</div>
									<div class="use-right__circle fourth-circle order-1"><span class="circle-one"><span class="internal-circle"><span class="hour">6</span><span class="time">недель</span></span></span></div>
								
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
</section>