<section class="pin block" id="pin">
	<div data-offset="30" class="d-parallax-before parallax"></div>
	<div class="container">
		<h2 class="title">Почему кожа требует ухода<br> 
				и днем, и ночью</h2>
		<div class="pin-content">
			<div class="pin-box">
				<div class="pin-box__img"><img src="img/day.svg" alt="day"></div>
				<h4 class="pin-box__title">Днём</h4>
				<p class="pin-box__text">кожа принимает на себя
						главные удары - воздействие
						ультрафиолетовых лучей, грязный воздух, стрессы.
						</p>
			</div>
			<div class="pin-box">
					<div class="pin-box__img img-night"><img src="img/night.png" alt="day"></div>
					<h4 class="pin-box__title">Ночь - </h4>
					<p class="pin-box__text">время для расслабления
							<span class="text-nowrap">и обновления</span>. Кожа нуждается в питании и покое, <span class="text-nowrap">чтобы клетки</span> полноценно регенерировались.	</p>
				</div>
				<div class="pin-box pin-box-last">
						<h4 class="pin-box__title">Вывод:</h4>
						<p class="pin-box__text">если в дневное время кожу
								нужно защищать, то в ночное время - помочь расправиться
								<span class="text-nowrap">с накопившимися</span> проблемами. Тогда она омолаживается
								<span class="text-nowrap">и регенерируется</span>.</p>
					</div>
		</div>
	</div>
</section>