<section class="reviews block">
  <div class="container">
    <h2 class="title">Отзывы</h2>
    <div class="reviews-content">
      <div class="swiper-container ">
        <div class="swiper-wrapper"> 
				    <div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-1.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Оксана, 39 лет,</div>
									<div class="reviews-box__city">Москва</div>
									<p class="reviews-box__text">
										Крем работает на ура и стоит
										<span class="text-nowrap">не дорого!</span> Сначала эффект был
										<span class="text-nowrap">не очень</span> заметным, но через месяц
										морщинки действительно разглаживаются.
									</p>
								</div>
							</div>
							
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-2.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Ольга, 40 лет,</div>
									<div class="reviews-box__city">Омск</div>
									<p class="reviews-box__text">
										Бедный мой косметолог расстроится, что я больше не буду к нему
										ходить! А зачем? Этот крем эффективнее и дешевле всех этих
										посещений косметолога.
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-3.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Кристина, 30 лет,</div>
									<div class="reviews-box__city">Уфа</div>
									<p class="reviews-box__text">
										Очень удобные капсулки с кремом на день и ночь. Приятно
										использовать. Результат порадовал - лицо посвежело, порозовело,
										тон стал более ровным, морщины даже глубокие теперь разгладились.
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-4.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Валерия, 43 года,</div>
									<div class="reviews-box__city">Челябинск</div>
									<p class="reviews-box__text">
										Это средство теперь заменило мне мои ночные и дневные крема. Лицо
										заметно помолодело, и кожа стала очень приятная наощупь. Муж
										теперь меня постоянно в щеки чмокает)
									</p>
								</div>
							</div>
			
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-5.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Юлия, 37 лет,</div>
									<div class="reviews-box__city">Ярославль</div>
									<p class="reviews-box__text">
										Мне помогло, но не так как я ожидала, а вот у подруги просто шик!
										Может просто кожа разная? Закажу еще пожалуй и еще месяц
										попользую.
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-6.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Надежда, 45 лет,</div>
									<div class="reviews-box__city">Новосибирск</div>
									<p class="reviews-box__text">
										После отдыха с соленой морской водой и солнцем, думала долго не
										смогу привести свою сухую кожу в порядок, а сейчас она в отличном
										тонусе.
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-7.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Наталья, 35 лет,</div>
									<div class="reviews-box__city">Азов</div>
									<p class="reviews-box__text">
										Понравилось. Плюсы: 1. кожа стала упругой и приятной на ощупь, 2.
										морщины ушли, 3. пропали тёмные круги под глазами. Из минусов
										только, что пришлось им почти полтора месяца пользоваться
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-8.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Ирина, 46 лет,</div>
									<div class="reviews-box__city">Мурманск</div>
									<p class="reviews-box__text">
										Очень интересная штучка- не встречала раньше кремов в капсулках.
										Очень освежает и подтягивает, нас теперь с дочкой даже за
										сестричек принимают
									</p>
								</div>
							</div>
							<div class="reviews-box swiper-slide">
								<div class="reviews-box__img">
									<img src="img/ava-9.jpg" alt="avatar" />
								</div>
								<div class="reviews-box-cont">
									<div class="reviews-box__name">Светлана, 46 лет,</div>
									<div class="reviews-box__city">Москва</div>
									<p class="reviews-box__text">
										Была сморщенная как курага, хоть и столько кремов уже попробовала.
										В Бирецин сначала не верила, но раньше не встречала таких кремов с
										комплексным подходов. Результат радует, можете на фото посмотреть
									</p>
								</div>
							</div>
						</div>
      </div>
      <svg class="swiper-button-prev" height="19" viewbox="0 0 46 19" width="46" xmlns="http://www.w3.org/2000/svg">
				<g>
					<g>
						<path d="M1.104 8h.488l8.491-8v8H46v3H10.083v8l-8.491-8h-.488v-.46L0 9.5l1.104-1.04z"></path>
					</g>
				</g></svg> <svg class="swiper-button-next" height="19" viewbox="0 0 46 19" width="46" xmlns="http://www.w3.org/2000/svg">
				<g>
					<g>
						<path d="M0 8h35.917V0l8.49 8h.489v.46L46 9.5l-1.104 1.04V11h-.488l-8.491 8v-8H0z"></path>
					</g>
				</g></svg>

      <div class="swiper-pagination swiper-pagination-def"></div>
      <div class="numbers-slide">
        <span class="ns-active"></span><span class="ns-total"></span>
      </div>
    </div>
  </div>
</section>
