<div class="sec-counter">
		<div class="nav-top "><div style="cursor: pointer;" class="nav-top__link nav-click toTop"></div></div>
		<div class="sec-counter-block">
			 <div class="sec-counter__left"></div>
			 <div class="sec-counter__numbers">
					<span class="sec-counter__current">1</span> / <span class="sec-counter__all">9</span>
			 </div>
			 <div class="sec-counter__right"></div>
		</div>
		<div class="nav-bottom "><div style="cursor: pointer;" class="nav-bottom__link nav-click toBot"></div></div>
 </div>