<div class="sec-counter">
	<div class="nav-top"><a class="nav-top__link" href=""><img src="img/arrow-top.png" alt=""></a></div>
	<div class="sec-counter-block">
		<div class="sec-counter__left"></div>
		<div class="sec-counter__numbers">
			<span class="sec-counter__current">1</span> / <span class="sec-counter__all">10</span>
		</div>
		<div class="sec-counter__right"></div>
	</div>
	<div class="nav-bottom"><a class="nav-bottom__link" href="#properties"><img src="img/arrow-bottom.png" alt=""></a></div>
</div>