<section class="properties block" id="properties">
	<div data-offset="10" class="p-parallax-before parallax"></div>
	<div class="container">
		<h2 class="title -no-line">Наш подход</h2>
		<div class="properties-content">
			<div class="properties-frame"></div>
			<div class="properties-box">
				<div class="properties-box__number">1.</div>
				<div class="properties-box__text">
					<h4 class="properties-box__title">Защита</h4>
					<p class="properties-box__subtitle">благодаря алоэ вера
						<span class="text-nowrap">и витаминам</span>
						</p>
				</div>
				
			</div>
			<div class="properties-box">
				<div class="properties-box__number">2.</div>
				<div class="properties-box__text">
					<h4 class="properties-box__title">Восстановление</h4>
					<p class="properties-box__subtitle">благодаря маслу жожоба <span class="text-nowrap">и эфирным</span> маслам
						</p>
				</div>
				
			</div>
			<div class="properties-box">
				<div class="properties-box__number">3.</div>
				<div class="properties-box__text">
					<h4 class="properties-box__title">Регенерация</h4>
					<p class="properties-box__subtitle">благодаря олеиновой кислоте <span class="text-nowrap">и экстракту</span> винограда
						</p>
				</div>
				
			</div>
			<div class="properties-capsules">
				<div class="properties-cup">
					<img src="img/capsule-1.png" alt="capsule" class="capsule-1">
					<img src="img/capsule-2.png" alt="capsule" class="capsule-2">
				</div>
				<div class="properties-capsules__text">8 дневных<br> и 8 ночных капсул</div>
			</div>
			<div class="properties-branch"><img src="img/branch.png" alt="branch"></div>
		</div>
	</div>
</section>