<section class="composition block" id="composition" >
    <div class="container">
        <h2 class="composition__title title">
            Натуральный состав
            <span>Biorecin</span>
        </h2>
        <div class="composition__day-night-box">
            <!--DAY-->
            <div class="composition__items-box">
                <div class="composition__item-pearl capsule-day">
                    <img src="./img/capsule-1.png" alt="capsule">
                </div>
                <h3 class="composition__item-subtitle -day-margin">
                    Дневная порция:
                </h3>
                <!--1-->
                <div class="composition__item -aloe">
                    <img src="./img/natural-aloe.png" alt="aloe">
                    <p class="composition__item-name">
                        Алоэ вера
                    </p>

                </div>
                <!--2-->
                <div class="composition__item -vitamin">
                    <img src="./img/natural-vitamins.png" alt="vitamin">
                    <p class="composition__item-name">
                        Витамины
                        E, C, A
                    </p>

                </div>
                <!--3-->
                <div class="composition__item -acid">
                    <img src="./img/natural-acid.png" alt="acid">
                    <p class="composition__item-name">
                        Линолевая
                        и&nbsp;олеиновая
                        кислоты
                    </p>

                </div>




            </div>

            <!--NIGHT-->
            <div class="composition__items-box">
                <div class="composition__item-pearl capsule-night">
                    <img src="./img/capsule-2.png" alt="capsule">
                </div>
                <h3 class="composition__item-subtitle -night">
                    Ночная порция:
                </h3>
                <!--1-->
                <div class="composition__item -grape">
                    <img src="./img/natural-grape.png" alt="grape">
                    <p class="composition__item-name">
                        Экстракт
                        винограда
                    </p>

                </div>
                <!--2-->
                <div class="composition__item -oil">
                    <img src="./img/natural-oil.png" alt="oil">
                    <p class="composition__item-name">
                        Масла жожоба
                        и&nbsp;каритэ
                    </p>

                </div>
                <!--3-->
                <div class="composition__item -mendal">
                    <img src="./img/natural-mendal.png" alt="mendal">
                    <p class="composition__item-name">
                        Миндальное
                        масло
                    </p>

                </div>
                <!--4-->
                <div class="composition__item -melissa">
                    <img src="./img/natural-melissa.png" alt="melissa">
                    <p class="composition__item-name">
                        Эфирные масла
                        лаванды
                        и&nbsp;мелиссы
                    </p>

                </div>



            </div>
        </div>
    </div>
</section>